@charset "UTF-8";

:root {
    --Light-Green: #dff1e7;
    --Green: #0c7d69;
    --Green-opacity: #0c7d681b;
    --Red: #d94545;
    --White: #ffffff;
    --Medium-Grey: #87a3a6;
    --Dark-Grey: #2b4246;

    --label-fs: 1rem;
    --Karla: "Karla", sans-serif;
}

/* Utility Classes */

.flex-col {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.label::after {
    content: " *";
    color: var(--Green);
}

.align-center {
    display: flex;
    align-items: center;
    gap: .75rem;
}

/* Styling */

body {
    font-family: var(--Karla);
    background-color: var(--Light-Green);
    margin: 2rem 1rem;
    position: relative;
}

.form {
    border-radius: 10px;
    background-color: var(--White);
    padding: 1.5rem;
    font-weight: 500;
    color: #2b4246;
    max-width: 400px;
    margin: auto;
    transition: max-width .2s ease;
}

.form__title {
    font-size: 1.9rem;
    font-weight: 700;
    padding: 0 0 1rem 0;
}

.inputs {
    border: 1px solid var(--Medium-Grey);
    border-radius: 7px;
    padding: 1rem;
}

.inputs:focus {
    outline: 1px solid var(--Green);
}

input:hover, 
textarea:hover, 
button[type="submit"],
.form__query-type-option,
label:nth-last-child(1) {
    cursor: pointer;
}

input[type="radio"], 
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-height: 20px;
    min-width: 20px;
    border: 2px solid var(--Medium-Grey);
    opacity: .7;
    border-radius: 50%;
}

input[type="checkbox"] {
    border-radius: 0;
    position: relative;
}

input[type="checkbox"]::after {
    content: "✓"; 
    color: var(--White);
    font-weight: 800;
    position: absolute;
    left: 3px;
    bottom: 0px;
}

input[type="radio"]:checked, 
input[type="checkbox"]:checked {
    background-color: var(--Green);
    box-shadow: inset 0 0 0 3px var(--White);    
}

.green-bg {
    background-color: var(--Green-opacity);
    border: 1px solid var(--Green);
    transition: background .1s ease;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 0;
}

textarea {
    font-family: var(--Karla);
}

.form__query-type-option {
    font-size: 1.1rem;
}

.form__query-type-containers {
    padding-left: 2rem;
}

.form__checkbox-msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-top: .5rem;
    
}

.form__error-msg {
    opacity: 0;
    padding-left: .2rem;
    font-size: .85rem;
    color: var(--Red);
    transition: opacity .2s ease;
}

.form__error-msg:last-child {
    padding: 0 0 .75rem 0;
}

.input-error {
    border: 1px solid var(--Red);
    transition: border .2s ease;
}

.success-msg {
    opacity: 0;
    transform: translateY(-10px);
    position: fixed;
    top: 0px;    
    overflow: hidden;
    width: 92%;
    margin: auto;
    transition: opacity .2s ease, transform .2s ease;
}

.active-success-msg {
    opacity: 1;
    transform: translateY(10px);
}

.success-msg-container {
    max-width: 338px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--Dark-Grey);
    color: var(--White);
    font-weight: 200;
    font-size: .8rem;
    border-radius: 7px;
}

.success-msg__title {
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.success-msg__title::before {
    content: url(./assets/images/icon-success-check.svg);
    transform: translateY(2px);
}


button[type="submit"] {
    background-color: var(--Green);
    color: var(--White);
    padding: 1.1rem;
    font-size: 1.1rem;
    font-family: var(--Karla);
    font-weight: 600;
    border-radius: 7px;
}

@media screen and (min-width: 768px) {
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .form {
        padding: 2.5rem;
        display: grid;
        min-width: 660px;
    }
    
    .form__title {
        grid-area: 1 / 1 / 2 / 3;
        font-size: 2rem;
    }
    
    .form__email {
        grid-column: 1 / 3;
    }

    .form__query-type {
        grid-area: 4 / 1 / 5 / 3;
    }

    .form__query-type-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .form__query-type-inputs > .label {
        grid-area: 1 / 1 / 2 / 3;
    }
    
    .form__message {
        grid-area: 5 / 1 / 6 / 3;
    }

    .form__checkbox {
        grid-area: 6 / 1 / 7 / 3;
    }
    
    button[type="submit"] {
        grid-column: 1 / 3;
    }

    .success-msg {
        transform: translateY(-10px);
        top: 10px;    
        width: 100%;
    }
    
    .active-success-msg {
        opacity: 1;
        transform: translateY(10px);
    }
    
    .success-msg-container {
        max-width: 400px;
        padding: 1.5rem;
        font-size: 1rem;
    }
    
    .success-msg__title {
        font-size: 1.25rem;
    }
}